{% extends "base.html" %}
{% block title %}Подстанции{% endblock title %}
{% block li2 %}<a class="active" href="/ps">Подстанции</a>{% endblock li2 %}



{% block logic1 %}
<style>
span {
    display: block;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
}
h3 {
    text-align: left;
}

table {

    border-collapse: collapse;
    width: 100%;
      background-color: #f2f2f2;

}

th, td {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.woff');
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 15px

}

tr:hover {background-color:#f5f5f5;}


</style>

<div class="column">

    <h3 style="font-family:verdana;"> {{name}} </h3>

 {% if signals.count > 0 %}
    <table >
      <tr><th>Сигнал</th><th>Статус</th><th>Обновлен</th></tr>
        {% for  signal in signals %}
            <tr><th>{{ signal.type.type }} {{ signal.voltage.value }} {{ signal.name }} </th>
                {% if signal.type.inversion == signal.status.boolean_status %}
                <th style="color:Red;">{{ signal.status.status }}</th>
                {% else %}
                <th style="color:Green;">{{ signal.status.status }}</th>
                {% endif %}
            <th> {{ signal.date_up }} </th></tr>
        {% endfor %}
    <tr><th><a id="para1" href="/ps/{{name}}">Обновить</a></th><th><form  method="POST">
        <input type="submit" value="СМС ЗАПРОС"></form></th><th style="color:MediumSeaGreen;">{{status}}</th><th><tr>
    </table>

    {% else %}
        <h3 style="font-family:verdana;"> нет данных </h3>
        <form  method="POST"><input type="submit" value="СМС ЗАПРОС"></form>
 {% endif %}
    </div>
<!--
<div class="column">

  <div class="container">
       <h1 style="font-family:verdana;">
    GSM Контроллер
</h1>
      <table >
          {% if controllersGSM.count > 0 %}
          {% for controllerGSM in controllersGSM %}
                <tr><th>Серийный номер</th><th>{{ controllerGSM.serial_number }}</th></tr>
                <tr><th>Тип контроллера </th><th>{{ controllerGSM.type.type }}</th></tr>
                <tr><th>Номер тел </th><th> {{ controllerGSM.number_SIM.number }} {{ controllerGSM.number_SIM.provider.name }}</th></tr>
                <tr><th>Примечание </th><th>{{ controllerGSM.add_description}}</th></tr>
          {% endfor %}
           {% else %}
        <h3 style="font-family:verdana;">
        нет данных
        </h3>
    {% endif %}
      </table>


</div>
</div>
-->
{% endblock logic1 %}