{% extends "base.html" %}
{% block title %}Подстанции{% endblock title %}
{% block li2 %}<a class="active" href="/ps">Подстанции</a>{% endblock li2 %}


{% load staticfiles %}
{% block logic1 %}
<link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
 <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<style>
    table {
    border-collapse: collapse;
    width: 100%;
      background-color: #f2f2f2;

}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto';

}

tr:hover {background-color:#F0F8FF;}

.container {
  position: absolute;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#para2{
    width: 100%;
    padding:2px 20px;
    margin: 5;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}
article {
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    column-width: 150px;
    column-gap: 20px;
    column-rule: 2px dotted #ccc;
}

</style>
<div id="content-main">
<div class="container">
<!--      <table >

      <tr><th>Подстанции</th></tr>
        {% for  ps in listPS %}
            <tr><th style="color:MediumSeaGreen;"><a id="para2" href="{{ps.name}}">{{ps.name}}</a></th></tr>
        {% endfor %}

    </table>-->

    <article>
    {% for  ps in listPS %}
            <p>
                <a id="para2" href="{{ps.name}}">
                    <i class="fa fa-circle" style="font-size:15px;color:red;" aria-hidden="true"></i>
                    {{ps.name}}
                </a>
            </p>
        {% endfor %}
    </article>
 </div>
</div>
{% endblock logic1 %}